src/main/resources/param-rule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- 元素定义 -->
	<xs:element name="reg" type="xs:string" />
	<xs:element name="desc" type="xs:string" />
	<xs:element name="errMsg" type="xs:string" />
	<xs:element name="author" type="xs:string" />
	<xs:element name="address" type="xs:string" />

	<xs:attribute name="isreg" type="xs:boolean" />
	<xs:attribute name="name" type="xs:string" />
	<xs:attribute name="ref" type="xs:QName" />
	<xs:attribute name="id" type="xs:ID" />

	<xs:attribute name="file" type="xs:anyURI" />
	<xs:element name="include">
		<xs:complexType mixed="true">
			<xs:attribute ref="file" />
		</xs:complexType>
	</xs:element>

	<!-- 根节点 -->
	<xs:element name="urls">
		<xs:complexType>
			<xs:sequence>
				<!-- 正则定义 -->
				<xs:element ref="regex" minOccurs="0" maxOccurs="999999" />
				<!-- params定义 -->
				<xs:element name="param1" minOccurs="0"
					maxOccurs="999999">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element ref="name" minOccurs="0" />
							<xs:element ref="required" minOccurs="0" />
							<xs:element ref="requiredMsg" minOccurs="0" />
							<xs:element ref="rule" minOccurs="0" />
							<xs:element ref="errMsg" minOccurs="0" />
							<xs:element ref="desc" minOccurs="0" />
						</xs:sequence>

						<xs:attribute ref="id" use="required" />
						<xs:attribute ref="name" use="required" />
						<xs:attribute ref="ref" />
					</xs:complexType>
				</xs:element>
				<!-- 路径映射 -->
				<xs:element ref="url" minOccurs="0" maxOccurs="999999" />
				<!-- 文件引用 -->
				<xs:element ref="include" minOccurs="0"
					maxOccurs="999999" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="regex">
		<xs:complexType>
			<xs:sequence>
				<!-- 正则 -->
				<xs:element ref="reg" />
				<!-- 错误消息 -->
				<xs:element ref="errMsg" />
				<!-- 正则描述 -->
				<xs:element ref="desc" />
			</xs:sequence>
			<xs:attribute ref="id" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="url">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" />
				<xs:element ref="desc" />
				<xs:element ref="author" />
				<xs:element ref="params" />
			</xs:sequence>
			<xs:attribute ref="isreg" />
			<xs:attribute ref="name" />
		</xs:complexType>
	</xs:element>

	<xs:element name="rule">
		<xs:complexType mixed="true">
			<xs:attribute ref="ref" />
		</xs:complexType>
	</xs:element>

	<xs:element name="requiredMsg" type="xs:string" />
	<xs:element name="required" type="xs:boolean"
		default="false" />
	<xs:element name="params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" minOccurs="0" maxOccurs="99999" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="param">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="name" minOccurs="0" />
				<xs:element ref="required" minOccurs="0" />
				<xs:element ref="requiredMsg" minOccurs="0" />
				<xs:element ref="rule" minOccurs="0" />
				<xs:element ref="errMsg" minOccurs="0" />
				<xs:element ref="desc" minOccurs="0" />
			</xs:sequence>

			<xs:attribute ref="id" />
			<xs:attribute ref="name" />
			<xs:attribute ref="ref" />
		</xs:complexType>
	</xs:element>

	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="isreg" default="false" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
